<hr />
<span style='float:right'>
  {%- if page.is_draft != true -%}
    Built on {{ site.time | date: "%-d %B %Y" }}
  {%- endif -%}
<a href='https://codeberg.org/tunjan/pages'> [Github]</a>
<br/>
</span> 
<a rel="me" href="https://scicomm.xyz/@tunjan">Tunjan</a> © 2023 — BY-NC-SA 4.0 
