<hr />
<span style='float:right'>
  {%- if page.data.updated -%}
    Updated on {{ page.data.updated }}
  {%- endif -%}
<a href='https://codeberg.org/tunjan/pages'> [Codeberg]</a>
<br/>
</span> 
<a rel="me" href="https://scicomm.xyz/@tunjan">Tunjan</a> © 2023 
