<hr />
<span style='float:right'>
  {%- if page.is_draft != true -%}
    Built on {{ site.time | date: "%c"}}
  {%- endif -%}
<a href='https://github.com/tunjan/tunjan.github.io'> [Github]</a>
<br/>
</span> <a rel="me" href="https://scicomm.xyz/@tunjan">Tunjan</a> © 2022 — BY-NC-SA 4.0
