<hr />
<span style='float:right'>
  {%- if page.is_draft != true -%}
    Built on {{ site.time | date: "%c"}}
  {%- endif -%}
<a href='https://github.com/tunjan'> [Github]</a>
<br/>
</span> Tunjan © 2022 — <a href='https://github.com/istrigo'>BY-NC-SA 4.0</a>
