<hr />
<span style='float:right'>
  {%- if page.is_draft != true -%}
    Edited on {{ site.time }}
  {%- endif -%}
<a href='https://github.com/istrigo'>[Github]</a>
<br/>
</span> Tunjan © 2022 — <a href='https://github.com/istrigo' target='_blank'>BY-NC-SA 4.0</a>
