<a id=name href="home.html">tunjan</a>

<form id="form">
  <input type="search" id="search" autocomplete="off">
  <input type="submit" id="submit">
</form>

<script>
  const f = document.getElementById('form');
  const s = document.getElementById('search');

  function submitted(event) {
        event.preventDefault();
        const url = s.value + '.html';
        const win = window.open(url, '_self');
        win.focus();
      }
  f.addEventListener('submit', submitted);
</script>
