<!DOCTYPE html>
<html lang="en">
    <head>
      {% include "head.liquid" %}   
    </head>
    <body>
      <header>
        {% include "header.liquid" %}
      </header>
     <nav>
       {%- include "nav.liquid" -%}
     </nav>

     <main>

    <hr />

     <div id="ToC"></div>
     {% if page.data.image %}
       <figure>
        <img alt="{{page.data.caption}}" src="../media/{{page.data.image}}">
        <figcaption>{{page.data.caption}}</figcaption>
       </figure>
     {% endif %}
        {{ page.content }}
      {% if page.data.type  %}
        {%- if page.data.type == 'portal' -%}
          {%- include "portal.liquid" -%}
        {%- endif -%}
      {% endif %}

      </main>
      <footer>
        {%- include "footer.liquid" -%}
     </footer>
    <script src="../links/scripts/toc.js"></script>
    </body>
</html>
