* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}

body > *, body > * > *, main figure > *, main figure > div > *, main p {
  margin-bottom: 30px;
}

header > * {
  background: #000;
  color: #FFF;
}

header {
  padding: 30px;
  font-size: 34px;
  /* border-bottom: 1px solid #222; */
  /* border-right: 1px solid #222; */
  font-family: serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  float:left;
}

nav {
  padding:30px 0px 0px 0px;
  /* font-family: serif; */
  float: left;
}

#border-left{
  border-radius: 15px 50px 30px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

nav ul {
  display:inline-block;
  list-style-type: none;
  border-left:2px solid #000;
  border-radius: 3px;
  padding-left: 10px;
  /* list-style-type: none; */
}

body { 
  padding:0;
  font-family:sans-serif;
  font-size:16px; 
  text-align: left;
}

main {
  padding: 30px;
  max-width:624px;
  clear:both; 
  float: left;
}

footer { 
  line-height: 20px;
  clear:both;
  padding:30px; 
}

footer hr { 
  margin-bottom: 15px;
}

li:hover {
  /* font-weight: bold; */
}


