* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}

body > *, body > * > *, main figure > *, main figure > div > *, main p {
  margin-bottom: 30px;
}

header > * {
  background: #000;
  color: #FFF;
}

header {
  font-size: 34px;
  margin: 0px 30px 0px 0px;
  font-family: serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  float:left;
}

nav {
  margin: 0 0 30px;
}

nav ul {
  padding: 0;
  float: left;
  margin: 0 45px 30px 0;
}

nav ul li {
  list-style-type: none;
  /* white-space: pre; */
}

body { 
  padding:30px;
  font-family:sans-serif;
  font-size:16px; 
  /* text-align: left; */
}

main {
  padding: 30px;
  max-width:624px;
  clear:both; 
  float: left;
}

footer { 
  line-height: 20px;
  clear:both;
  padding:30px; 
}

footer hr { 
  margin-bottom: 15px;
}

li:hover {
  /* font-weight: bold; */
}


