<!DOCTYPE html>
<html>
    <head>
      {% include "head.liquid" %}   
    </head>
    <body>
     {% comment %}  <header> {% endcomment %}
     {% comment %}    {% include "header.liquid" %} {% endcomment %}
     {% comment %}  </header> {% endcomment %}
     <nav>
       {%- include "nav.liquid" -%}
     </nav>
     <main>
        {{ page.content }}
      </main>
      <footer>
        {%- include "footer.liquid" -%}
     </footer>
    </body>
</html>
